<div class="background">
  <div class="container">

    <header>

      <div class="principal">

        <div>
          <nav class="img">
            <img src="../../assets/logos.png" height="70px">
          </nav>
        </div>

        <div>
          <nav class="menu">
            <a href="">Inicio</a>
            <a href="">Información</a>
            <a href="">Proveedores</a>
            <a href="">Contácto</a>
          </nav>
        </div>
      </div>
    </header>

    <div class="contenido">
      <div class="multimedia">
        <img src="../../assets/celular.png" height="500px">
      </div>
      <div class="qr">
        <div>
          <img src="../../assets/QR.png" height="180">
        </div>
        <div>
          <button class="boton">DESCARGAR</button>
        </div>
      </div>
    </div>
    <h2>Disponibles en todas las plataformas digitales</h2>


  </div>


</div>